body{
    margin: 0;
    background-color: #f5f5f5 !important;
}

.bgimage{
    background-image: url(../images/headimg.png), url(../images/headimg1.png);
    background-size: cover;
}

.c-white{
    color: #fff;
}

.farmbg{
    background-image: url(../images/farmbgblack.png), url(../images/farmbg.png);
    background-size: cover;
}

.p-bottom{
    padding-bottom: 80px;
}

button, input, optgroup, select, textarea{
    line-height: 90% !important;
}

:root, [data-bs-theme=light]{
    --bs-secondary-color:#fff !important;
}

.btn-close {
    --bs-btn-close-opacity:1.5;
}