body{
    margin: 0;
    background-color: #f5f5f5 !important;
}

.bgimage{
    background-image: url(../images/headimg.png), url(../images/headimg1.png);
    background-size: cover;
}

.c-white{
    background-color: #fff;
}

.col-lg-5{
    width:  27.666667%!important;
}

.form-check-input{
    background-color: #f5f5f5 !important;
}

.form-check-input:checked{
    background-color:#0d6efd !important;
}

.b-radius{
    border-radius: 12%;
}

.b1-radius{
    border-radius: 15%;
}

.top-50{
    position: absolute;
    top: 50% !important;
}

:root, [data-bs-theme=light]{
    --bs-border-radius-pill: 4rem !important;
}

.pointer{
    cursor: pointer;
}

.listli ul {
    padding: 0;
}
.listli ul li {
    margin-right: 10px;
    display: inline;
    padding-right: 15px;;
}