body{
    margin: 0;
}

.bgimage{
    background-image: url(../images/headerimg.png), url(../images/headerimg1.png);
    background-size: cover;
}

.c-white{
    color: white;
}

hr{
    margin: 0rem!important;
    color: white !important;
    opacity: 0.6 !important;
}

.p-top{
    padding-top: 250px;
}

.p-bottom{
    padding-bottom: 200px;
}

.p1-bottom{
    padding-bottom: 60px;
}

.c1{
    color: #635729;
}

.c2{
    color: #FF6262;
}

.c3{
    color: #FFBB4C;
}

.form-control{
    width: 100% !important;
}

.index{
    z-index: -1;
}

.bgbodyimage{
    background-image:url(../images/headerimg.png), url(../images/bggreen.png);
    background-size: cover;
    background-color: lime;
}
