body{
    margin: 0;
}

.bgimage{
    background-image: url(../images/headerimg.png), url(../images/headerimg1.png);
    background-size: cover;
}

.c-white{
    color: white;
}

hr{
    margin: 0rem!important;
    color: white !important;
    opacity: 0.6 !important;
}

.p-top{
    padding-top: 250px;
}

.p-bottom{
    padding-bottom: 200px;
}

.p1-bottom{
    padding-bottom: 60px;
}

.c1{
    color: #635729;
}

.c2{
    color: #FF6262;
}

.c3{
    color: #FFBB4C;
}

.form-control{
    width: 100% !important;
}

.index{
    z-index: -1;
}

.bgbodyimage{
    background-image:url(../images/headerimg.png), url(../images/bggreen.png);
    background-size: cover;
    background-color: lime;
}

/* about us */

.aboutbgimage{
    background-image: url(../images/farmimgblk.png), url(../images/farmimgbg.png);
    background-size: cover;
}

.padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.color{
    color: #7B7B7B;
}

.f-size{
    font-size: 65px;
}

/* findfarm */

.farmbg{
    background-image: url(../images/headimg.png), url(../images/headimg1.png);
    background-size: cover;
}

.findbgbodyimg{
    background-image: url(../images/bgbodyimg.png);
    background-size: cover;
}

/* farm */

.form-check-input{
    background-color: #f5f5f5 !important;
}

.form-check-input:checked{
    background-color:#0d6efd !important;
}

.top-50{
    position: absolute;
    top: 50% !important;
}

:root, [data-bs-theme=light]{
    --bs-border-radius-pill: 4rem !important;
}

.pointer{
    cursor: pointer;
}

.listli ul {
    padding: 0;
}
.listli ul li {
    margin-right: 10px;
    display: inline;
    padding-right: 15px;;
}

.resultli ul li{
    margin-right: 10px;
    display: inline;
    padding-right: 15px;
}

/* farm listing */

.farmbodybg{
    background-image: url(../images/farmbgblack.png), url(../images/farmbg.png);
    background-size: cover;
}

.p-bottom{
    padding-bottom: 80px;
}

/* button, input, optgroup, select, textarea{
    line-height: 90% !important;
} */

.listing1 :root, [data-bs-theme=light]{
    --bs-secondary-color:#fff !important;
}

.btn-close {
    --bs-btn-close-opacity:1.5;
}

.arrow .breadcrumb-item::before{
    color: #fff !important;
}

/* view cart */

.bg-green{
    background-color: #066507;
}

.bg-white{
    background-color: #fff !important;
}

.select1 .form-check-input{
    background-color: #066507 !important;
}

.select1 .form-check-input:checked{
    border-color: #ffffff !important;
}

.greenborder{
    border: 1px solid #066507;
}

.height1{
    height: 850px;
}

.view-bottom{
    margin: auto !important;
    border-bottom: 1px solid #e9e9e9 !important;
}

/* checkout */

.black-bottom{
    border-bottom: 1px solid #222 !important;
}

.checkout-bottom{
    border-bottom: 1px solid #e9e9e9 !important;
    margin: 0 !important;
    opacity: inherit !important;
}

.border{
    border: 2px solid #F8F9F9 !important;
}

.check .p-bottom{
    padding-bottom: 80px;
}

.m-top{
    margin-top: 130px;
}

/* login */

.radius .radius-50{
    border-radius: 50px;
}

/* customer data */

.bgimage1{
    background-image: url(../images/farmimgblk.png), url(../images/farmimgbg.png);
    background-size: cover;
}

.radius-30{
    border-radius: 30px;
}

.list-group{
    --bs-list-group-active-bg:#f5f5f5 !important;
    --bs-list-group-active-color:black !important;
    --bs-list-group-active-border-color: #f5f5f5 !important;
}

.padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

:root, [data-bs-theme=light]{
    --bs-border-color:#fff !important;
    --bs-border-radius:0rem !important;
}

.border1{
    border: 1px solid #000000;
    border-radius: 30px;
}

.b-bottom{
    border-bottom: 1px solid #000000;
}

.bg{
    background-color: #F8F9F9 !important;
}

.chatborder{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.textborder{
    border: 1px solid #C6C6C6 !important;
}

.bottom-grey{
    border-bottom: 1px solid #ccc6c6 !important;
    margin: 0 !important;
}

.greenclr{
    background-color: #066507 !important;
    color: #fff !important;
}

/* farmer data */

.profile .form-check-input{
    background-color: #D4D4D4 !important;
}
